{% extends 'TheBaseDB.html' %}
{% block content %}
<center>
    <div class="card spacer">
        <h1 class="title text-center">Personal Info Page</h1>
        <button name="viewbutton" class="btn" type="submit" onclick="location.href='{% url "personalInfoSearch" %}'">Search personal Details</button>
        <p class="par">Or Enter new info:</p>
        <form method="post" action="/famapp/home/DataBase/PersonalInfo/" class="login-form spacer">
            {% csrf_token %}
            <div class="input-group">
                <input required="" , name="FamMemberID" , id="FamMemberID" , type="text" , class="form-input" ,
                    placeholder="Enter FamMemberID" , maxlength='20' , minlength='17'>
            </div>
            <div class="input-group">
                <input required="" , type="email" , name="Email" , id="Email" , placeholder="Enter valid email id"
                    class="form-input">
            </div>

            <div class="input-group">
                <textarea name="Address" , id="Address" , rows="4" , cols="150" , placeholder="Enter your address" ,
                    class="form-input" , required=""></textarea>
            </div>
            <div class="input-group">
                <input type="text" , name="Ph_prefix" , id="Ph_prefix" , size="8" , class="form-input-select" ,
                    placeholder="Code(Eg:+91)" , required="">


                <input type="text" , name="Phone" , id="Phone" , size="13" , class="form-input-select2" ,
                    placeholder="Enter Phone Number" , required="">
            </div>
            <div class="input-group">
                <input type="text" , name="City" , id="City" , class="form-input" , placeholder="Enter your city" ,
                    required="">
            </div>
            <div class="input-group">
                <input type="text" , name="Country" , id="Country" , class="form-input" ,
                    placeholder="Enter your country" , required="">
            </div>
            <div class="input-group">
                <input type="text" , name="pincode" , id="pincode" , class="form-input" , placeholder="Enter pincode" ,
                    required="">
            </div>
            <p class="par">If you have a job, enter job designation<br>
                If studying, Type "(your course) Student"<br>
                (Eg: B.Tech Student)</p>
            <div class="input group">
                <input type="text" , name="Job_or_student" , id="Job_or_student" ,
                    placeholder="Enter Job Desigantion/student" , class="form-input-select2" , required="">
            </div>
            <div class="input group">
                <input type="text" , name="Company_or_School" , id="Company_or_School" ,
                    placeholder="Enter Company/College/school Name" , class="form-input-select2" , required="">
            </div>
            <input class="btn" type="submit" name="submit" value="Submit">
        </form>
    </div>
</center>
{% endblock content %}