{% extends 'TheBaseDB.html' %}
{% block content %}
<center>
    <div class="card spacer">
        <h1 class="title text-center">Update Details</h1>
        <form method="post" action="/famapp/home/DataBase/UpdateDetails/" class="login-form spacer" id="updatemember">
            {% csrf_token %}
            <div class="input-group">
                <input required="" , name="FamMemberID" , id="FamMemberID" , type="text" , class="form-input" ,
                    placeholder="Enter FamMemberID (**required)" , maxlength='20' , minlength='17'>
            </div>
            <div class="input-group">
                <input name="Gender" , id="Gender" , type="text" , class="form-input" ,
                    placeholder="UPDATE Gender (M-male, F-female) ?" , maxlength="1" , minlength="1">
            </div>
            <p class="par">Enter Date of Death if applicable:</p>
            <div class="input-group">
                <input name="DoD" , id="DoD" , type="date" , class="form-input" ,
                    placeholder="if applicable: Enter Date of Death (YYYY-MM-DD)" , maxlength="10" , minlength="10">
            </div>
            <p class="par">*other details cannot be changed </p>
            <input type="submit" class="btn" value="SUBMIT">
        </form>
    </div>
</center>
{% endblock content %}