{% extends 'TheBaseDB.html' %}
{% block content %}
<center>
    <div class="card center spacer">
        <h1 class="title text-center">:Successful Registration:</h1>
        <div>
            <center>
                <p class="title text-center">
                    Your Family Member ID is<br>
                <h1 class="title text-center">{{ FamMemberID }}</h1>
                <br>
                <h3>!!Please Do Not Reload Page, reload will result in duplicate entries!!</h3>
                </p>
            </center>
        </div>
    </div>
</center>
{% endblock content %}