{% extends 'TheBaseDB.html' %}
{% block content %}
<center>
    <div class="card spacer">
        <h1 class="title text-center">New Member Register</h1>
        <form method="post" action="/famapp/home/DataBase/NewMember/" class="login-form spacer" id="inputMember">
            {% csrf_token %}
            <div class="input-group">
                <input required="" , name="Fname" , id="Fname" , type="text" , class="form-input" ,
                    placeholder="Enter First Name" , maxlength='30' , minlength='1'>
            </div>
            <div class="input-group">
                <input required="" , name="Name" , id="Name" , type="text" , class="form-input" ,
                    placeholder="Enter Name" , maxlength="30" , minlength="2">
            </div>
            <div class="input-group">
                <input required="" , name="Lname" , id="Lname" , type="text" , class="form-input" ,
                    placeholder="Enter Last Name" , maxlength="30" , minlength="1">
            </div>
            <p class="par">Enter Date of Birth:</p>
            <div class="input-group">
                <input required="" , name="DoB" , id="DoB" , type="date" , class="form-input",
                    maxlength=" 10", minlength="10">
            </div>
            <div class="input-group">
                <input required="" , name="Gender" , id="Gender" , type="text" , class="form-input" ,
                    placeholder="Enter Gender (M-male, F-female)" , maxlength="1" , minlength="1">
            </div>
            <input type="submit" class="btn" value="SUBMIT">
        </form>
    </div>
</center>
{% endblock content %}