{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Family Database Management System</title>
    <link rel="stylesheet" href="{% static 'css/DBstyles.css' %}">
</head>
<body class="body">
    {% block content %} 
    <div class="main">
        <div class="navbar">
            <div class="icon">
                <h1 class="logo">The Database</h1>
            </div>
            <div class="menu">
            <ul>
                <li><button name="button" class="navbutton" type="submit" onclick="location.href='{% url "famHome" %}'">HOME</button></li>
                <li><button name="newmemberbutton" class="navbutton" type="submit" onclick="location.href='{% url "NewMember" %}'">New Member</button></li>
                <li><button name="deletebutton" class="navbutton" type="submit" onclick="location.href='{% url "DeleteMember" %}'">Delete Member</button></li>
                <li><button name="viewbutton" class="navbutton" type="submit" onclick="location.href='{% url "ViewPage" %}'">View DB</button></li>
                <li><button name="updatebutton" class="navbutton" type="submit" onclick="location.href='{% url "UpdateDetails" %}'">Update Details</button></li>
                <li><button name="personalbutton" class="navbutton" type="submit" onclick="location.href='{% url "PersonalInfo" %}'">Personal Info</button></li>
                <li><button name="personalbutton" class="navbutton" type="submit" onclick="location.href='{% url "InsertCouple" %}'">Register Couple</button></li>
                <li>
                    {% if user.is_authenticated %} 
                        <form action="/famapp/accounts/signup/" method="post">
                        {% csrf_token %}
                        <button class="btn" type="submit">Log Out</button>
                        </form>
                    {% endif %}
                </li>
            </ul>
            </div>
        </div>
            <center>
                <div class="card spacer">
                    <h1 class="title text-center">New Member Register</h1>
                    <form method="post" action="/famapp/home/DataBase/NewMember/" class="login-form spacer" id="inputMember">
                        {% csrf_token %} 
                        <div class="input-group">
                            <input 
                            required="", 
                            name="Fname", 
                            id="Fname", 
                            type="text", 
                            class="form-input" , 
                            placeholder="Enter First Name" , 
                            maxlength='30', 
                            minlength='1'>
                        </div>
                        <div class="input-group">
                            <input required="",
                            name="Name",
                            id="Name",
                            type="text",
                            class="form-input",
                            placeholder="Enter Name",
                            maxlength="30",
                            minlength="2">
                        </div>
                        <div class="input-group">
                            <input required="",
                            name="Lname",
                            id="Lname",
                            type="text",
                            class="form-input",
                            placeholder="Enter Last Name",
                            maxlength="30",
                            minlength="1">
                        </div>
                        <div class="input-group">
                            <input required="",
                            name="DoB",
                            id="DoB",
                            type="date",
                            class="form-input",
                            placeholder="Enter Date of Birth (YYYY-MM-DD)"",
                            maxlength="10",
                            minlength="10">
                        </div>
                        <div class="input-group">
                            <input required="",
                            name="Gender",
                            id="Gender",
                            type="text",
                            class="form-input",
                            placeholder="Enter Gender (M-male, F-female)",
                            maxlength="1",
                            minlength="1">
                        </div>
                        <!--<div class="input-group">
                            <input 
                                name="DoD",
                                id="DoD",
                                type="text",
                                class="form-input",
                                placeholder="if applicable: Enter Date of Death (YYYY-MM-DD)",
                                maxlength="10",
                                minlength="10">
                        </div>-->
                        <input type="submit" class="btn" value="SUBMIT">
                    </form>
                    
                </div>

            </center>
        </div>
    </div>
    {% endblock content %} 
</body>

</html>