{% extends 'TheBaseDB.html' %}
{% block content %}
<center>
    <div class="card center spacer">
        <h1 class="title text-center">Delete Member</h1>
        <form method="post" action="/famapp/home/DataBase/DeleteMember/" class="login-form spacer" id="inputMember">
            {% csrf_token %}
            <div class="input-group">
                <div class="input-group">
                    <input required="" , name="FamMemberID" , id="FamMemberID" , type="text" , class="form-input" ,
                        placeholder="Enter FamMemberID" , maxlength='20' , minlength='17'>
                </div>
            </div>
            <input type="submit" class="btn" value="SUBMIT">
        </form>
    </div>
</center>
{% endblock content %}