{% extends 'TheBaseDB.html' %}
{% block content %}
<center>
    <div class="card center spacer">
        <h1 class="title text-center">DISPLAY</h1>
        <button name="viewbutton" class="btn" type="submit" onclick="location.href='{% url "ViewSearchIDPage" %}'">Search by ID</button>
        <button name="viewbutton" class="btn" type="submit" onclick="location.href='{% url "ViewSearchNamePage" %}'">Search by Name</button>
        <button name="viewbutton" class="btn" type="submit" onclick="location.href='{% url "ViewSearchParents" %}'">Search Parents</button>
        <button name="viewbutton" class="btn" type="submit" onclick="location.href='{% url "ViewSearchChildren" %}'">Search Children</button>
        <button name="viewbutton" class="btn" type="submit" onclick="location.href='{% url "personalInfoSearch" %}'">Search Details</button><br>
        <button name="viewbutton" class="btn" type="submit" onclick="location.href='{% url "ViewDBPage" %}'">Display DataBase</button>
        <button name="viewbutton" class="btn" type="submit" onclick="location.href='{% url "ViewCoupleDB" %}'">Display Couples</button>
        <button name="viewbutton" class="btn" type="submit" onclick="location.href='{% url "ViewParentsDB" %}'">Display Parents</button>
        <button name="viewbutton" class="btn" type="submit" onclick="location.href='{% url "ViewFamilies" %}'">Display Families</button>
    </div>
</center>
{% endblock content %}