{% extends 'TheBaseDB.html' %}
{% block content %}
<center>
    <div class="card center spacer">
        <h1 class="title text-center">Search Member</h1>
        <form method="post" class="login-form spacer" id="searchMember">
            {% csrf_token %}
            <div class="input-group">
                <div class="input-group">
                    <input required="" , name="parents_id" , id="parents_id" , type="text" , class="form-input" ,
                        placeholder="Enter Parent's ID" , maxlength='20' , minlength='14'>
                </div>
            </div>
            <input type="submit" class="btn" value="SUBMIT">
        </form>
</center>
{% endblock content %}