
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Family Database Management System</title>
    <link rel="stylesheet" href="{% static 'css/DBstyles.css' %}">
</head>
<body class="body">
    {% block content %} 
    <div class="main" background-image: url = "../images/LLRR4.png" >
        <div class="navbar">
            <div class="icon">
                <h1 class="logo">The Database</h1>
            </div>

            <div class="menu">
            <ul>
                <li><button name="button" class="navbutton" type="submit" onclick="location.href='{% url "famHome" %}'">HOME</button></li>
                <li><button name="newmemberbutton" class="navbutton" type="submit" onclick="location.href='{% url "NewEvent" %}'">New Event</button></li>
                <li><button name="deletebutton" class="navbutton" type="submit" onclick="location.href='{% url "DeleteMember" %}'">Delete Member</button></li>
                <li><button name="viewbutton" class="navbutton" type="submit" onclick="location.href='{% url "ViewPage" %}'">View DB</button></li>
                <li><button name="updatebutton" class="navbutton" type="submit">Update Details</button></li>
                <li><button name="personalbutton" class="navbutton" type="submit">Personal Info</button></li>
                <li>
                    {% if user.is_authenticated %} 
                        <form action="/famapp/accounts/signup/" method="post">
                        {% csrf_token %}
                        <button class="btn" type="submit">Log Out</button>
                        </form>
                    {% endif %}
                </li>
            </ul>
            </div>
        </div>
        <div class="content">
            <h1>The<br><span>EVENT MANAGER</span><br></h1>
            <p class="par">This is where you can register a new family member into the database<br>
                You can also delete or update the details of registered members<br>
                You can also save the personal details like Phone Number and address of registered members<br>
                You can retrieve and view all of these details as well<br>
            </p>
        </div>
    </div>
    
    {% endblock content %} 
</body>

</html>