{% extends 'TheBaseEvent.html' %}
{% load static %}
{% block content %}
<center>
   <div class="main4">
      <div class="card spacer">
         <h1 class="title text-center">REGISTERING AN EVENT</h1>
         <form method="post" action="/famapp/home/Eventmanager/NewEvent/" class="login-form spacer" id="insertevent">
            {% csrf_token %}
            <div class="input-group">
               <input required="" , name="Event_Name" , id="Event_Name" , type="text" , class="form-input" ,
                   placeholder="Enter Name of Event" , maxlength='100' , minlength='5'>
           </div>
            <div class="input-group">
               <textarea name="Venue" , id="Venue" , rows="4" , cols="150" , placeholder="Enter Exact Venue, and other details ( Time if applicable)" ,
                  class="form-input" , required=""></textarea>
            </div>
            <p class="par">Enter Date of Event:</p>
            <div class="input-group">
               <input required="" , type="date" , name="Date", id="Date" class="form-input">
            </div>
            <input class="btn" type="submit" name="submit" value="Submit">
         </form>
      </div>
   </div>
</center>
{% endblock content %}