{% extends 'TheBaseEvent.html' %}
{% load static %}
{% block content %}
<center>
   <div class="main3">
      <div class="card spacer">
         <h1 class="title text-center">INVITEES FOR EVENT</h1>
         <form method="post" action="/famapp/home/Eventmanager/Invitees/" class="login-form spacer">
            <div class="input-group">
               <input required="" , name="EventID" , id="EventID" , type="text" , class="form-input" ,
                  placeholder="Enter EventID" , maxlength='20' , minlength='17'>
            </div>
            <p class="par">For the Invitee_ID: <br>
               You can enter the family ID to invite the entire family <br>OR<br>
               enter the Couple_ID to invite a particular couple<br>OR<br>
               enter an individual's FamMemberID to invite one member only<br> 
            </p>
            <div class="input-group">
               <input required="" , name="InviteeID" , id="InviteeID" , type="text" , class="form-input" ,
                  placeholder="Enter InviteeID" , maxlength='20' , minlength='17'>
            </div>
            <input class="btn" type="submit" name="submit" value="Submit">
         </form>
      </div>
   </div>
</center>
{% endblock content %}