{% load static %}
<!DOCTYPE html>
<html lang=""en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {%load static}
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
    <title>Family DB</title>
</head>
<body class="container mt-5">
    <nav class="mb-3">
        {% if user.is_authenticated %} 
            <form action="/accounts/signup/" method="post">
                {% csrf_token %}
                <button class="btn btn-primary btn-sm" type="submit">Log Out</button>
            </form>
        {% endif %} 
    </nav>

    {% block content %}
    <h1> hello </h1>

    {% endblock content %}
</body>
</html>