{% extends 'TheBaseHOME.html' %}
{% load static %}
{% block content %}
<head><link rel="stylesheet" href="{% static 'css/DBstyles.css' %}"></head>
<center>
    <div class="main5">
        <div class="cardoutput spacer">
            <h1 class="title text">:CONTACT:</h1>
            <p class="par">Here are the Contact Details of the Developers,<br>
            <span>Name : </span> VINEETH SHENOY P<br>
            <span>Email :</span> 20ai059.vineeth@sjec.ac.in <br>
            <span>Phone No :</span> +91 9449559975 <br>
            <span>Address : </span> Dept of ICBS, Academic Block III,<br> St Joseph Engineering College,<br> Vamanjoor,
            Mangaluru, Karnataka, India - 575028<br><br></p>
            <p class="par"><span>Name :</span> VIJNA SHETTY <br>
            <span>Email :</span> 20ai058.vijna@sjec.ac.in <br>
            <span>Phone No :</span> +91 7795830582<br>
            <span>Address : </span> Dept of ICBS, Academic Block III,<br> St Joseph Engineering College,<br> Vamanjoor,
            Mangaluru, Karnataka, India - 575028<br>
            </p>
        </div>
    </div>
</center>
{% endblock content %}