{% extends 'TheBaseDB.html' %}
{% block content %}
        <div class="content">
            <h1>The<br><span>DATABASE</span><br></h1>
            <p class="par">This is where you can register a new family member into the database<br>
                You can also delete or update the details of registered members<br>
                You can also save the personal details like Phone Number and address of registered members<br>
                You can retrieve and view all of these details as well<br>
            </p>
        </div>
{% endblock content %} 
