{% extends 'TheBaseHOME.html' %}
{% load static %}

{% block content %}
<div class="content">
    <h1>Family DataBase<br><span>Management</span> <br>System</h1>
    <p class="par">A one stop website to manage all the details of your beloved ones.<br>Don't remember your relative's
        address?<br>Don't remember their phone number to invite them for an event close to your heart?
        <br>or, are you bad at remembering birthdays and anniversaries?<br> Let the Family Database take care of that
        for you
    </p>
</div>
{% endblock content %}