{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script src="{% static 'js/accountsscripts.js' %}" defer></script>
</head>
{% block content %}
    <center>
        <h1>Log In</h1>
        {% if messages %}
            <ul>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <form action="/accounts/signup/">
            <p>New User? click below to Sign Up </p>
            <center><button name="signup">Sign Up</button></center>
        </form>
        <form action="/accounts/login/" method="post">
            <p>Login with username and password</p>
            {% csrf_token %} 
            {{ form }} 
            <center><input type="submit" value="Log in"></center>
        </form>

    </center>
    
{% endblock content %}

</html>