{% extends "./base.html" %}
{% load static %}

{% block content %}
    <center>
        <h1>Log In</h1>
        <form action="/accounts/signup/">
            <p>New User? click below to Sign Up </p>
            <center><button name="signup">Sign Up</button></center>
        </form>
        <form action="/accounts/login/" method="post">
            <p>Login with username and password</p>
            {% csrf_token %} 
            {{ form }} 
            <center><input type="submit" value="Log in"></center>
        </form>

    </center>
    
{% endblock content %}