{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Family Database Management System</title>
    <link rel="stylesheet" href="{% static 'css/DBstyles.css' %}">
</head>
<body class="body">
    {% block content %} 
    <div class="main">
        <div class="navbar">
            <div class="icon">
                <h1 class="logo">The Database</h1>
            </div>
            <div class="menu">
            <ul>
                <li><button name="button" class="navbutton" type="submit" onclick="location.href='{% url "famHome" %}'">HOME</button></li>
                <li><button name="newmemberbutton" class="navbutton" type="submit" onclick="location.href='{% url "ViewPage" %}'">BACK</button></li>
                <li><button name="newmemberbutton" class="navbutton" type="submit" onclick="location.href='{% url "NewMember" %}'">New Member</button></li>
                <li><button name="updatebutton" class="navbutton" type="submit">Update Details</button></li>
                <li><button name="personalbutton" class="navbutton" type="submit" onclick="location.href='{% url "PersonalInfo" %}'">Personal Info</button></li>
                <li>
                    {% if user.is_authenticated %} 
                        <form action="/famapp/accounts/signup/" method="post">
                        {% csrf_token %}
                        <button class="btn" type="submit">Log Out</button>
                        </form>
                    {% endif %}
                </li>
            </ul>
            </div>
        </div>
            <center>
                <div class="card center spacer">
                    <h1 class="title text-center">Search Member</h1>
                
                <form method="post" class="login-form spacer" id="searchMember">
                    {% csrf_token %} 
                    <div class="input-group">
                        <div class="input-group">
                            <input 
                            required="", 
                            name="Name", 
                            id="Name", 
                            type="text", 
                            class="form-input" , 
                            placeholder="Enter Middle Name" , 
                            maxlength='30', 
                            minlength='2'>
                        </div>
                    </div>
                    <input type="submit" class="btn" value="SUBMIT">
                </form>
            </center>
            </div>
        </div>
    </div>
    {% endblock content %} 
</body>

</html>