{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Family Database Management System</title>
    <link rel="stylesheet" href="{% static 'css/DBstyles.css' %}">
</head>
<body class="body">
    <div class="main3">
        <div class="navbar">
            <div class="icon">
                <h1 class="logo">The Event Manager</h1>
            </div>
            <div class="menu">
            <ul>
                <li><button name="button" class="navbutton" type="submit" onclick="location.href='{% url "famHome" %}'">HOME</button></li>
                <li><button name="newmemberbutton" class="navbutton" type="submit" onclick="location.href='{% url "NewEvent" %}'">New Event</button></li>
                <li><button name="deletebutton" class="navbutton" type="submit" onclick="location.href='{% url "Invitees" %}'">Invitees</button></li>
                <li><button name="viewbutton" class="navbutton" type="submit" onclick="location.href='{% url "ViewEvents" %}'">View Event</button></li>
                <li>
                    {% if user.is_authenticated %} 
                        <form action="/famapp/accounts/signup/" method="post">
                        {% csrf_token %}
                        <button class="btn" type="submit">Log Out</button>
                        </form>
                    {% endif %}
                </li>
            </ul>
            </div>
        </div>
        {% block content %}

        {% endblock content %}
    </div>
</body>
</html>